img {
     margin :50px;
}
#article {
 margin : 50px;
 text-align : center;
 display: block;
 width: 800px;
 padding-left : 100px


}
#menu {
 text-align : center;
 background-color : white;
 height : 50px ;
 padding : 25px ;
 margin-top : 50px;
 text-decoration: none;
 font : 150% black;
 word-spacing : 50px ;

}
body {
 background-color : lightblue;
}
footer {
 border-top : 0.5px solid gray;
}
