img {

}

a {
  text-decoration: none;
}

h2 {
  margin-bottom: 50px;
  margin-right: 400px ;
  text-align : center;
  color : #00adef ;
}

h3 {
    padding-left : 150px ;
}
#article2 {
 margin-bottom: 250px;
 display: block;
 width: 800px;
 padding-left : 150px ;

}

#menu
 {
 text-align : center;
 background-color : white;
 height : 50px ;
 padding-top : 20px ;
 padding-bottom: 50px ;
 margin-top : 80px ;
 padding-right: 500px ;
 font : 180% ;
 word-spacing : 50px ;

}

body {
 background-color :#f0fafe;
}
footer {
 border-top : 0.5px solid gray;
}
